name: Deploy

on:
  push:
    tags:
      - prod/*

permissions:
  id-token: write
  contents: read

jobs:
  serverless:
    name: Upload Extensions
    runs-on: ubuntu-latest # <- was ubuntu-20.04

    steps:
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v3

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js 20
        uses: actions/setup-node@v4
       with:
          node-version: '20.19.4'
          check-latest: true
          cache: 'yarn'

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::228067885724:role/GithubActionsRole
          aws-region: us-east-1

      - name: Install node modules
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build:prod

      - name: Publish
        run: yarn serverless:deploy

      - name: Build extensions
        run: yarn build:extension

      - name: Upload bundle into S3
        run: yarn upload:bundle
